<!DOCTYPE html>
<html ng-app="cnpjApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerador de CNPJ</title>
    <link rel="stylesheet" href="dist/css/style.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" ng-controller="MainController as main">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h1>Gerador de CNPJ</h1>
                    </div>
                    <div class="card-body">
                        <input type="text" id="txtCnpj" class="form-control text-center" ng-model="main.cnpj">
                    </div>
                    <div class="card-footer">
                        <button id="btnCnpj" class="btn-card" ng-click="main.gerarCnpj()">Gerar CNPJ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12">
                <div class="aviso">
                    <h2>Atenção</h2>
                    <p>
                        Este gerador de CNPJ deve ser utilizado apenas para para fins de testes em sitemas.
                        O desenvolvedor deste site não se responsabiliza por nenhuma atitude tomada pelos usuários da ferramenta.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="https://github.com/davidalves1/gerador-cnpj">
                <svg width="80" height="80" viewbox="0 0 250 250" style="position: absolute; top: 0px; fill: rgb(39, 39, 39); right: 0px;">
                    <path d="M0 0l115 115h15l12 27 108 108V0z" fill="#EEE"></path>
                    <path d="M128 109c-15-9-9-19-9-19 3-7 2-11 2-11-1-7 3-2 3-2 4 5 2 11 2 11-3 10 5 15 9 16" style="transform-origin: 130px 106px 0px;"></path>
                    <path d="M115 115s4 2 5 0l14-14c3-2 6-3 8-3-8-11-15-24 2-41 5-5 10-7 16-7 1-2 3-7 12-11 0 0 5 3 7 16 4 2 8 5 12 9s7 8 9 12c14 3 17 7 17 7-4 8-9 11-11 11 0 6-2 11-7 16-16 16-30 10-41 2 0 3-1 7-5 11l-12 11c-1 1 1 5 1 5z"></path>
                </svg>
            </a>
        </div>
    </div>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="dist/js/app.min.js"></script>
</body>
</html>
