<!DOCTYPE html>
<html ng-app="cnpjApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerador de CNPJ</title>
    <link rel="stylesheet" href="dist/css/style.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" ng-controller="MainController as main">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h1>Gerador de CNPJ</h1>
                    </div>
                    <div class="card-body">
                        <input type="text" id="txtCnpj" class="form-control text-center" ng-model="main.cnpj">
                    </div>
                    <div class="card-footer">
                        <button id="btnCnpj" class="btn-card" ng-click="main.gerarCnpj()">Gerar CNPJ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12">
                <div class="aviso">
                    <h2>Atenção</h2>
                    <p>
                        Este gerador de CNPJ deve ser utilizado apenas para para fins de testes em sitemas.
                        O desenvolvedor deste site não se responsabiliza por nenhuma atitude tomada pelos usuários da ferramenta.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="dist/js/app.min.js"></script>
</body>
</html>
